## Bag of words

In [20]:
import importlib.util
spec = importlib.util.spec_from_file_location("nltk_pack", "../toolkit/nltk_pack.py")
pack = importlib.util.module_from_spec(spec)
spec.loader.exec_module(pack)
import pickle
import numpy as np
import pandas as pd

### Load the review data

In [22]:
# filePath = "../../"
# listing = pd.read_csv(filePath)

# listing = pickle.load( open( filePath +"review_by_zipcode.p", "rb" ) )


filePath = "./"
# listing = pd.read_csv(filePath)

listing = pickle.load( open( filePath +"balanced_review_by_zipcode.p", "rb" ) )

In [23]:
cleanlist = listing.dropna() # clean NA
len(cleanlist)

296

### Run text cleansing & count vectorizor function

In [24]:
# create feature
feature =  pack.getfeature2(cleanlist['review'], ngram = 2)

In [25]:
feature.index = cleanlist.index.values
feature.head()

,abbot,able,absolute,absolutely,absolutely beautiful,absolutely great,absolutely perfect,absolutely wonderful,ac,accessible,...,wonderful,wonderful beautiful,wonderful clean,wonderful great,wonderfully,worth,wrong,yard,yet,young
10019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37738,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90001,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0

### Find the rate of the appearance of words (Count/Total reviews)

In [26]:
# find proportion
len(cleanlist['ct'].replace(0, 1))
feature2 = feature.div(cleanlist['ct'].replace(0, 1), axis=0) # divide count by total amount of reviews
wordbag =  pd.concat([cleanlist, feature2], axis=1)
# wordbag.div(wordbag['ct'].replace(0, 1), axis=0, fill_value=None)

wordbag.head()

,review,ct,abbot,able,absolute,absolutely,absolutely beautiful,absolutely great,absolutely perfect,absolutely wonderful,...,wonderful,wonderful beautiful,wonderful clean,wonderful great,wonderfully,worth,wrong,yard,yet,young
zipcode,,,,,,,,,,,,,,,,,,,,,
10019,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0
10023,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0
37738,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0
60601,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0
90001,Great host and Cozy comfortable stay. Tanya wa...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.02,0.0,0.0,0.02,0.0,0.02,0.0,0.0,0.0,0.0

In [27]:
! pwd

/home/ubuntu/airbnb-vs-safety/Airbnb

In [43]:
# wordbag.dropna().to_csv("listingwordbag.csv")

# dump file
with open(filePath + 'listingwordbag2.p', 'wb') as handle:
    pickle.dump(wordbag.dropna(), handle, protocol=pickle.HIGHEST_PROTOCOL)

In [32]:
# normalize and save the result

filePath = "../../"
wordbag = pickle.load( open( filePath + 'listingwordbag2.p', "rb" ) )
#normalize
from sklearn.preprocessing import normalize
wordbag = wordbag.drop('review', axis=1)
wordbag = pd.DataFrame(normalize(wordbag , axis=0), columns = wordbag.columns, index = wordbag.index.values)
wordbag.head()

,ct,abbot,able,absolute,absolutely,absolutely beautiful,absolutely great,absolutely perfect,absolutely wonderful,ac,...,wonderful clean,wonderful definitely,wonderful great,wonderful nice,wonderfully,worth,wrong,yard,yet,young
10019,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
10023,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
37738,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
60601,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
90001,0.000927,0.0,0.219051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138165,0.0,0.0,0.219229,0.0,0.0,0.0,0.0

### Merge with crime score

In [33]:
#  load crime score
filePath = "../Crime/safety_score_LA.csv"
crime = pd.read_csv(filePath)

crime.head()

,Unnamed: 0,ZIP,score,crime,adjusted_score,pop,score/population,log,level2
0,0,90001.0,10576,1942,10576,57942.0,0.182527,-1.700855,3.0
1,1,90002.0,3392,631,3392,51826.0,0.065450,-2.726472,3.0
2,2,90003.0,164,36,164,70208.0,0.002336,-6.059351,2.0
3,3,90004.0,43,9,43,63095.0,0.000682,-7.291197,1.0
4,4,90005.0,40,11,40,39338.0,0.001017,-6.891067,1.0

In [34]:
# merge with crime score by using zipcode

wordbag = wordbag.dropna()
wordbag['zipcode'] = wordbag.index.values
data = pd.merge(wordbag, crime[['ZIP','level2']], left_on='zipcode', right_on='ZIP', how='left', sort=False)
data = data.drop(['ct','ZIP'], axis=1).dropna()

In [35]:
# set index and check data
data = data.set_index('zipcode')
print(data.head())
np.unique(data['level2'])

         abbot      able  absolute  absolutely  absolutely beautiful  \
zipcode
90001      0.0  0.219051  0.000000    0.000000              0.000000
90002      0.0  0.025709  0.000000    0.011560              0.000000
90003      0.0  0.000000  0.000000    0.030165              0.000000
90004      0.0  0.048483  0.054930    0.058740              0.029149
90005      0.0  0.053237  0.018247    0.032387              0.009037

         absolutely great  absolutely perfect  absolutely wonderful        ac  \
zipcode
90001            0.000000            0.000000              0.000000  0.000000
90002            0.000000            0.000000              0.000000  0.000000
90003            0.000000            0.000000              0.000000  0.000000
90004            0.022464            0.043467              0.041146  0.043031
90005            0.023216            0.016846              0.019933  0.020846

         accessible   ...    wonderful definitely  wonderful great  \
zipcode               ...
90001      0.000000   ...                0.000000         0.138165
90002      0.000000   ...                0.000000         0.000000
90003      0.098486   ...                0.000000         0.000000
90004      0.053382   ...                0.016123         0.019113
90005      0.047507   ...                0.004999         0.023044

         wonderful nice  wonderfully     worth     wrong      yard       yet  \
zipcode
90001          0.000000     0.000000  0.219229  0.000000  0.000000  0.000000
90002          0.000000     0.000000  0.032162  0.000000  0.000000  0.061705
90003          0.000000     0.000000  0.083923  0.000000  0.000000  0.000000
90004          0.008844     0.075401  0.040435  0.044596  0.031295  0.056566
90005          0.006855     0.013487  0.043094  0.025139  0.012129  0.022548

            young  level2
zipcode
90001    0.000000     3.0
90002    0.000000     3.0
90003    0.000000     2.0
90004    0.032397     1.0
90005    0.040805     1.0

[5 rows x 1001 columns]

array([1., 2., 3.])

### For the important word by the random forest classifier

In [36]:
from sklearn.model_selection import train_test_split


# split data into train and test set
X_train, X_test, y_train, y_test = train_test_split(\
    data.drop('level2', axis = 1), data['level2'], random_state=0, test_size=.2)

In [37]:
# train the model
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 50)
forest = forest.fit(X_train.astype(int), y_train.astype(int))

In [38]:
# see the accuracy

from sklearn import metrics 
train_predictions = forest.predict(X_train.astype(int))
valid_predictions = forest.predict(X_test.astype(int))
print(metrics.accuracy_score(y_train.astype(int),train_predictions))
print(metrics.accuracy_score(y_test.astype(int),valid_predictions))

0.40865384615384615
0.5471698113207547

### Get important words from the model result

In [39]:
importances = forest.feature_importances_

# sort importance scores
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")
top_30 = indices[:30]

# Get top ten features
print(X_train.columns[top_30])

Feature ranking:
Index(['young', 'explore', 'fantastic great', 'fantastic', 'famous', 'fairly',
       'fair', 'fabulous', 'extremely responsive', 'extremely helpful',
       'extremely friendly', 'extremely comfortable', 'extremely clean',
       'extremely', 'extra', 'expensive', 'even', 'exceptionally',
       'exceptional', 'excellent great', 'excellent', 'exactly like',
       'exactly great', 'exactly clean', 'exactly', 'everywhere', 'everyday',
       'ever back', 'ever', 'even well'],
      dtype='object')

### Calculate sentimental score from review of each zip

In [40]:
from textblob import TextBlob

# get the sentimental score of each word
# we have positive reviews 10 times more than negative so give weight *5
senti_score = [(TextBlob(w).sentiment.polarity) if (TextBlob(w).sentiment.polarity) > 0 else 5*(TextBlob(w).sentiment.polarity) for w in data.iloc[0].index]

In [41]:
# Area sentimental score=all words(Sentimental score * proportion of each word in each area)
# multiply score and the proportion of words then sum together
data['sentimental'] = [np.sum(row*senti_score) for row in np.array(data)]


# Calculate average words per each review in each area as another feature
data['wordperrev'] = data.drop('sentimental', axis=1).sum(axis=1)

In [42]:
# data = data.drop('level2', axis=1)

X_train.columns[indices].format()
data.head()

,abbot,able,absolute,absolutely,absolutely beautiful,absolutely great,absolutely perfect,absolutely wonderful,ac,accessible,...,wonderful nice,wonderfully,worth,wrong,yard,yet,young,level2,sentimental,wordperrev
zipcode,,,,,,,,,,,,,,,,,,,,,
90001,0.0,0.219051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.219229,0.000000,0.000000,0.000000,0.000000,3.0,7.450386,31.947962
90002,0.0,0.025709,0.000000,0.011560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.032162,0.000000,0.000000,0.061705,0.000000,3.0,2.687272,36.027004
90003,0.0,0.000000,0.000000,0.030165,0.000000,0.000000,0.000000,0.000000,0.000000,0.098486,...,0.000000,0.000000,0.083923,0.000000,0.000000,0.000000,0.000000,2.0,3.168464,32.300323
90004,0.0,0.048483,0.054930,0.058740,0.029149,0.022464,0.043467,0.041146,0.043031,0.053382,...,0.008844,0.075401,0.040435,0.044596,0.031295,0.056566,0.032397,1.0,5.892534,40.439221
90005,0.0,0.053237,0.018247,0.032387,0.009037,0.023216,0.016846,0.019933,0.020846,0.047507,...,0.006855,0.013487,0.043094,0.025139,0.012129,0.022548,0.040805,1.0,5.285061,35.063114

In [226]:
# dump word file

path = "../old_wordbag.pickle"
pickle.dump( data, open(  path, "wb") )

path = "../old_wordrank.pickle"
pickle.dump( X_train.columns[indices].format(), open(  path, "wb") )

### Neighborhood overview

In [203]:
filePath = "../../"
neighbor = pd.read_csv(filePath+ "listings.csv")  # use cleaned listing to join with review data

In [204]:
neigh = neighbor[['zipcode','neighborhood_overview']].dropna() # clean NA
neigh.head()

  zipcode                              neighborhood_overview
1   91505  Quiet-yet-close to all the fun in LA! Hollywoo...
3   90046  We are minutes away from the Mentor Language I...
5   90706  What makes the neighborhood unique is that the...
6   90046  This is the famous Hollywood hills.. Historica...
7   90066  Our neighborhood is very quiet and save. There...

In [153]:
# use counter to count the word from neighborhood overview

from collections import Counter
import re
neigh['count'] = [sum(Counter(re.findall(r"[\w']+",w)).values()) for w in neigh['neighborhood_overview']]

Find the keywords from word embedding

In [164]:
# Count the safety keyword in Neighborhood description
# we derived these keyword by skimming through some reviews

safetyKeyWd = ["good", "safe","peaceful","night", "walk", "unsafe", "bad", "dangerous"] 

count = [Counter(re.findall(r"[\w']+",w)) for w in neigh['neighborhood_overview']]
for w in safetyKeyWd:
    neigh[w] = [wc[w] for wc in count]
neigh.head()

,zipcode,neighborhood_overview,count,good,safe,peaceful,night,walk,unsafe,bad,dangerous
1,91505,Quiet-yet-close to all the fun in LA! Hollywoo...,21,0,0,0,0,0,0,0,0
3,90046,We are minutes away from the Mentor Language I...,91,0,0,0,0,0,0,0,0
5,90706,What makes the neighborhood unique is that the...,90,0,0,0,0,0,0,0,0
6,90046,This is the famous Hollywood hills.. Historica...,15,0,0,0,0,0,0,0,0
7,90066,Our neighborhood is very quiet and save. There...,55,0,0,0,0,1,0,0,0

In [169]:
# Group and average by zipcode
neighfeature = neigh.groupby('zipcode').mean()
    path = "../neighborhoodfeature.pickle"
pickle.dump(neighfeature, open(  path, "wb") )